<head>
    <meta charset="UTF-8">
  <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<ul>
  </ul>
hello
</body>
<script>
  function searchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tab");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    th = tr[i].getElementsByTagName("th")[1].lastChild.lastChild;
    console.log(th);
    if (th) {
      txtValue = th.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
const urlParams = new URLSearchParams(window.location.search);
const universe = urlParams.get("universe");
const language = urlParams.get("language");
const word = urlParams.get("word");
console.log(universe);
console.log(language);
console.log(word);
$.get("/sql/dictionary?universe="+universe+"&language="+language+"&word="+word).done(function(data){
  dictionary = data["dictionary"];
  console.log(dictionary);
  // $("#pagename").append(data["name"]);
  // document.getElementById("filer").action = "fileupload?name="+data["name"];
  // for(i = 0; i < info.length; i++){
  //   var extension = info[i]["extension"];
  //   if(extension == "psd"){
  //     extension = "png";
  //   }
  //   path = folder+"/"+info[i]["version"]+".";
  //   var list1 = "<li class= 'version'><img src='/files/"+path+extension+"' height='300' width='auto'>";
  //   var date= new Date(parseInt(data["info"][(i).toString()]["date"]));
  //   var list2 = "<br><br><span class='infotitle'>Version: </span><span> "+info[i]["version"]+"</span><br><br>";
  //   var list3 = "<span class='infotitle'>Date Uploaded: </span><span>"+date+"</span><br><br>";
  //   var nsdate = date.toString().split(" ").join("");
  //   var list4 = "<button class='uk-button uk-button-default' onclick=downloadFile('"+path+info[i]["extension"]+"','"+folder+"','.v"+info[i]["version"]+".d"+nsdate+"."+info[i]["extension"]+"')>DOWNLOAD</button>"
  //   var list5 =  '<button class="uk-button uk-button-danger uk-margin-small-right deleteButton" type="button" uk-toggle="target: #modal-delete-version" onclick="setModal('+info[i]["version"]+','+info[i]["id"]+')">Delete</button></div>';
  //   $("#versions").append(list1+list2+list3+list4+list5);
  // }
});



</script>
